/* menu-bar */
div.menu-bar-holder {
    width:100%;
    height:20px;
    background-color:#3E3E3E;
}
.menu-bar {
    list-style:none;
	width:100%;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}
.menu-bar li {
	float:left;
    padding:0 10px;
	border-right:1px solid #8f9192;
    background-color:#3E3E3E;
    line-height:20px;
    height:20px;
}
.menu-bar a
{
	float:left;
	text-align:center;
	color:#f1f1f1;
	padding:0 0 1px;
    text-decoration:none;
}
.menu-bar a:hover,
.menu-bar li:hover a
{
    color:#43aeda;
}
